<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
    <head>
        <meta charset="UTF-8">
        {{ $title := .Title | default .Site.Title }}

        <title>{{ $title }}</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <meta name="description" content="{{ .Description | default (.Param "Description") }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="{{ site.Params.TwitterSite }}" />
        {{ if .IsHome }}
            <meta name="og:title" content="{{ site.Title }}" />
            <meta property="og:type" content="website" />
            <meta property="og:description" content="{{ site.Params.Description }}" />
            <meta property="og:url" content="{{ site.BaseURL }}" />
            <meta name="og:image" content="{{ site.Params.Image }}" />
            <meta name="twitter:creator" content="{{ site.Params.TwitterSite }}" />
            <meta name="twitter:title" content="{{ site.Title }}" />
            {{ if isset site.Params "TwitterImage" }}
                <meta name="twitter:image" content="{{ site.Params.TwitterImage }}" />
            {{ else }}
                <meta name="twitter:image" content="{{ site.Params.Image }}" />
            {{ end }}
        {{ else }}
            <meta name="og:title" content="{{ .Page.Title }}" />
            {{ if isset .Params "og_type" }}
                <meta property="og:type" content="{{ .Params.og_type }}" />
            {{ else }}
                <meta property="og:type" content="website" />
            {{ end }}
            <meta property="og:description" content="{{ .Params.Description }}" />
            <meta property="og:url" content="{{ .Page.Permalink }}" />
            {{ if isset .Params "Featured_image" }}
                <meta name="og:image/" content="{{ .Params.Featured_image }}" />
                <meta name="twitter:image" content="{{ .Params.Featured_image }}" />
            {{ else }}
                <meta name="og:image" content="{{ site.Params.Image }}" />
                <meta name="twitter:image" content="{{ site.Params.Image }}" />
            {{ end }}
            {{ if isset .Params "Author_twitter_handle" }}
                <meta name="twitter:creator" content="{{ .Params.Author_twitter_handle }}" />
            {{ else }}
                <meta name="twitter:creator" content="{{ site.Params.TwitterSite }}" />
            {{ end }}
            <meta name="twitter:title" content="{{ .Page.Title }}" />
        {{- end }}


        <style type="text/css">
            {{ with resources.Get "normalize.css" }}
                {{ .Content | safeCSS }}
            {{ end }}
            {{ with resources.Get "main.css" }}
                {{ .Content | safeCSS }}
            {{ end }}
        </style>
        {{ block "head" . }}
        {{ end }}
    </head>
    <body>
        <a id="skip-to-content" href="#content">Skip to the content.</a>
        <div>
            <header id="main-navbar">
                <a id="navbar-left" href="/">
                    <img id="navbar-logo" src="/favicon.png"></img>
                    <h1 id="navbar-title">Taiga<span class="taiga-chat-title-2">Chat</span></h1>
                </a>
                <nav id="navbar-items">
                    <a href="/downloads">Downloads</a>
                    <a href="/open-source">Open Source</a>
                    <a href="/blog">Blog</a>
                    <a href="/business">Business</a>
                </nav>
                <a class="flashy-button-small" href="https://cdn.taigachat.se/versions/build">
                    <div class="flashy-button">
                        <div class="flashy-button-bg"></div>
                        <div class="flashy-button-content">Open Web App</div>
                    </div>
                </a>
            </header>

            <main id="content" class="main-content" role="main">
                <!-- TODO: Move to another tempalte -->
                {{ if .Date }}
                <div>
                    Published: {{ .Date | time.Format ":date_full" }}
                </div>
                {{ end }}
                {{ block "main" . }}
                {{ end }}
            </main>
        </div>
        <footer id="main-footer">
            <div id="main-footer-content">
                <div id="main-footer-links">
                    <nav class="main-footer-links-column">
                        <b>Product</b>
                        <a class="main-footer-link" href="">Features</a>
                        <a class="main-footer-link" href="">Hosting</a>
                        <a class="main-footer-link" href="">Support</a>
                    </nav>
                    <nav class="main-footer-links-column">
                        <b>About Us</b>
                        <a class="main-footer-link" href="">Blog</a>
                        <a class="main-footer-link" href="">Contact</a>
                        <a class="main-footer-link" href="">Features</a>
                    </nav>
                    <nav class="main-footer-links-column">
                        <b>Resources</b>
                        <a class="main-footer-link" href="">Open Source</a>
                        <a class="main-footer-link" href="">Privacy Policy</a>
                        <a class="main-footer-link" href="">Terms of Service</a>
                    </nav>

                </div>
                <div id="main-footer-copyright">© 2023 TaigaChat Studios</div>
            </div>
            <!--
            <span class="site-footer-link"><a href="/privacy-policy">Privacy Policy</a></span>
            <span class="site-footer-link"><a href="/tos">Terms of Service</a></span>
            <span class="site-footer-link"><a href="/contact">Contact</a></span>
            <span class="site-footer-link"><a href="{{ site.Params.Repo }}">GitHub</a></span>
            -->
        </footer>
    </body>
</html>

