<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        {%- set title = page.title | default(value=section.title | default(value = config.title)) -%}
        {%- set description = page.description | default(value=section.description | default(value = config.description)) -%}

        {% block title %}
        <title>{{ title }}</title>
        {% endblock %}

        <link rel="icon" type="image/png" href="/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="icon" type="image/png" href="/favicon.png">
                <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- Twitter and Facebook -->
        <meta name="og:title" content="{{ title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:url" content="{{ config.base_url }}" />
        <meta name="og:image" content="/favicon.png" />
        <meta name="twitter:creator" content="{{config.extra.twitter}}" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:image" content="/favicon.png" />

        <style type="text/css">
            {{ load_data(path="static/normalize.min.css", format="plain") | safe }}
            {% if config.mode != "serve" %}
                {% set main_css = load_data(path="/static/main.css", format="plain") %}
                {{ main_css | safe }}
            {% endif %}
        </style>

        {# We embed the file if not running in serve mode. #}
        {% if config.mode == "serve" %}
             <link rel="stylesheet" href="/main.css">
        {% endif %}

        {% block head %} {% endblock %}
    </head>
    <body>
        <div id="main-gradient-1"></div>
        <div id="main-gradient-2"></div>
        <a id="skip-to-content" href="#content">Skip to the content.</a>
        <div>
            <header id="main-navbar">
                <a id="navbar-left" href="/">
                    <img id="navbar-logo" alt="website home button" src="/taiga.svg"></img>
                    <h1 id="navbar-title">Taiga<span class="taiga-chat-title-2">Chat</span></h1>
                </a>
                <nav id="navbar-items">
                    <a href="/downloads">Downloads</a>
                    <a href="/open-source">Open Source</a>
                    <a href="/blog">Blog</a>
                    <a href="/business">Business</a>
                </nav>
                <a class="flashy-button-small" href="https://cdn.taigachat.se/versions/build">
                    <div class="flashy-button">
                        <div class="flashy-button-bg"></div>
                        <div class="flashy-button-content">Open Web App</div>
                    </div>
                </a>
            </header>

            <main id="content" class="main-content" role="main">
                {% block content %} {% endblock %}
            </main>
        </div>
        <footer id="main-footer">
            <div id="main-footer-content">
                <div id="main-footer-links">
                    <nav class="main-footer-links-column">
                        <b>Product</b>
                        <a class="main-footer-link" href="/features">Features</a>
                        <a class="main-footer-link" href="/hosting">Hosting</a>
                        <a class="main-footer-link" href="/support">Support</a>
                    </nav>
                    <nav class="main-footer-links-column">
                        <b>About Us</b>
                        <a class="main-footer-link" href="/blog">Blog</a>
                        <a class="main-footer-link" href="/contact">Contact</a>
                        <a class="main-footer-link" href="/features">Features</a>
                    </nav>
                    <nav class="main-footer-links-column">
                        <b>Resources</b>
                        <a class="main-footer-link" href="/open-source">Open Source</a>
                        <a class="main-footer-link" href="/privacy-policy">Privacy Policy</a>
                        <a class="main-footer-link" href="/terms-of-service">Terms of Service</a>
                    </nav>
                </div>
                <div id="main-footer-rights-socials">
                    <div id="main-footer-copyright">© 2024 TaigaChat Studios</div>
                    <div>
                        <a href="/twitter"><img class="main-footer-right-socials-link" alt="X logo" src="/logo-x.svg" loading="lazy"></img></a>
                        <a href="/instagram"><img class="main-footer-right-socials-link" alt="Instagram logo" src="/logo-instagram.svg" loading="lazy"></img></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>

