{% extends "base.html" %}
{% block head %}
    <style type="text/css">
        #the-downloads-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        #the-downloads-text {
            font-size: 60px;
            font-variation-settings: 'wght' 700;
            background: linear-gradient(75deg, #0077FF, #00E7D4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
{% endblock head %}
{% block content %}
<div id="the-downloads-container">
    <h1 id="the-downloads-text">Downloads</h1>
</div>
{% endblock content %}
