{% extends "base.html" %}
{% block head %}
<style type="text/css">
#landing-introduction {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-variation-settings: 'wght' 700;
}


@media screen and (min-width: 700px) {
    #landing-introduction {
        padding-top: 130px;
    }
}

#landing-introduction-title {
    margin: 0;
    text-align: center;
    max-width: 1300px;
    color: white;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
}

#landing-introduction-subtitle {
    margin: 24px 0px 32px 0px;
    font-variation-settings: 'wght' 400;
    text-align: center;
    color: #888888;
    font-size: 22px;
}

@media screen and (max-width: 700px) {
    #landing-introduction-title {
        font-size: 40px;
        font-variation-settings: 'wght' 800;
    }
    #landing-introduction-subtitle {
        font-size: 16px;
    }
}
.landing-brand-taiga {
    font-variation-settings: 'wght' 800;
}

.landing-brand-chat {
    font-variation-settings: 'wght' 500;
    background: linear-gradient(75deg, #0077FF, #00E7D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>
{% endblock head %}
{% block content %}
<div id="landing-introduction">
    <h1 id="landing-introduction-title">
        <span class="landing-brand-taiga">
            Taiga<span class="landing-brand-chat">Chat</span>
        </span>
        is the new all-in-one communications platform</h1>
    <h2 id="landing-introduction-subtitle">Open Source communications platform for businesses that need security</h2>
    <a class="flashy-button-big" href="{{get_url(path='downloads')}}">
        <div class="flashy-button">
            <div class="flashy-button-bg"></div>
            <div class="flashy-button-content">Get Started</div>
        </div>
    </a>
</div>
{% endblock content %}

