{% extends "base.html" %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}
<div id="landing-introduction">
    <h1 id="landing-introduction-title">
        <span class="landing-brand-taiga">
            Taiga<span class="landing-brand-chat">Chat</span>
        </span>
        is the new all-in-one communications platform</h1>
    <h2 id="landing-introduction-subtitle">Open Source communications platform for businesses that need security</h2>
    <a class="flashy-button-big" href="/downloads">
        <div class="flashy-button">
            <div class="flashy-button-bg"></div>
            <div class="flashy-button-content">Get Started</div>
        </div>
    </a>
</div>
{% endblock content %}

